h1{
    color: #C0C0C0;
    Text-align: center;
}
.Gandalf{
   width: 450px; 
}
body{
    background-color: Black;
    text-align: center;
}
h2{
    color: white;
    font-family: 'Great Vibes', cursive;
} 
    
.balrog{
    width: 30%;
} 
h3{
   color: white;
   font-family: 'Great Vibes', cursive;
}
    
 .rabbit{
     width: 35%;
 }
    
h4{
    color: white;
    font-family: 'Great Vibes', cursive;
}
 
 .ring{
     width: 40%;
 }
 
 
 
 
    